<h1>ajax</h1>
  
<form action="/ajax" method="POST">
    <input type="text" name="username"
        placeholder="username">
    <input type="password" name="password" 
        placeholder="password">
    <button>login</button>
</form>
<h1><%= name %></h1>
<h1>This is ajax page</h1>
  
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>