<h1>This is secret page</h1>
  
<img src="/images/kot.ne.tot.jpg">
  
<form action="/ajax" method="POST">
    <input type="text" name="username"
        placeholder="username">
    <input type="password" name="password" 
        placeholder="password">
    <button>login</button>
</form>
<h1>This is ajax page</h1>
<h1>Users</h1>
<ul>
<% users.forEach(function(user) { %>
  <li><%= user.userName %></li>
<% }); %>
</ul>
