<h1>This is secret page</h1>
  
<img src="/images/kot.ne.tot.jpg">
  
<h1>This is home page</h1>
  
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
<li><a href="/ajax">Ajax</a></li>
